# Check all links in markdown files
name: Linkcheck

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  markdown-link-check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
      with:
        submodules: recursive
    - name: Check links
      uses: gaurav-nelson/github-action-markdown-link-check@1.0.15
      with:
        use-verbose-mode: 'yes'
